*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --button-dark: #13183f;
  --button-dark-hover: rgb(102, 108, 163);
  --radius: 30px;
  --color-text-button: white;
  --font-size-button: 16px;
  --color-title: rgb(19, 24, 63);
  --color-text: rgb(131, 134, 154);
  --font-style: 'Plus Jakarta Sans', sans-serif;
  --background-button-warm: linear-gradient(
    rgba(255, 111, 72, 1) 0%,
    rgba(240, 42, 166, 1) 100%
  );
  --background-button-cold: linear-gradient(
    rgba(72, 81, 255, 1) 0%,
    rgba(240, 42, 166, 1) 100%
  );
  --radius-big: 10px;
  --button-started: rgba(240, 42, 166, 1);
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  background-color: white;
}
.header {
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
} /*1024 para pc*/
@media screen and (min-width: 768px) {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 180px;
  }
}
.logo {
  position: relative;
}
.button {
  width: 140px;
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--font-style);
  font-size: var(--font-size-button);
  color: var(--color-text-button);
  border-radius: var(--radius);
}
.button-dark {
  background-color: var(--button-dark);
}
@media screen and (min-width: 768px) {
  .button-dark:hover {
    background-color: var(--button-dark-hover);
  }
}

.banner {
}
@media screen and (min-width: 768px) {
  .banner {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .banner {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .article {
    width: 398px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }
}
.title {
  font-size: 40px;
  font-family: var(--font-style);
  color: var(--color-title);
}
.text {
  color: var(--color-text);
  font-family: var(--font-style);
}

.button-warm {
  font-size: 15px;
  margin-top: 40px;
  background: var(--background-button-warm);
}
.image {
  width: 330px;
  margin-top: 40px;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .image {
    width: 640px;
    top: 0;

    margin-top: 0;
  }
}
@media screen and (min-width: 1440px) {
  .image {
    width: 990px;
    left: 900px;
    bottom: 400px;
  }
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .cards {
    width: 768px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .cards {
    width: 1110px;
    position: relative;
    top: 300px;
    margin: 0 auto;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 346px 346px;
  }
}
.card-gradient {
  width: 343px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: var(--font-style);
  font-size: 26px;
  font-weight: bold;
  color: var(--color-text-button);
  border-radius: var(--radius-big);
  background: var(--background-button-warm);
}
@media screen and (min-width: 768px) {
  .card-gradient {
    height: 200px;
    padding: 0 40px;
    text-align: left;
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .card-gradient {
    height: 322px;
  }
}
@media screen and (min-width: 1440px) {
  .card-gradient {
    width: 350px;
    height: 322px;
  }
}
@media screen and (min-width: 768px) {
  .card {
    margin-left: 20px;
    border-radius: 10px;
    background-color: rgba(184, 184, 184, 0.285);
  }
}
.card__title {
  color: var(--color-title);
  font-family: var(--font-style);
}
.button-started {
  position: relative;
  top: 20px;
  font-weight: bold;
  font-family: var(--font-style);
  color: var(--button-started);
}

.footer {
  width: auto;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-top: 50px;
  background-color: var(--color-title);
}
@media screen and (min-width: 768px) {
  .footer {
    width: 768px;
    position: relative;
    top: 80px;
    padding: 0 80px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    top: 230px;
    padding: 0 100px;
  }
}
.footer__logo {
  width: 89px;
}
.button-cold {
  font-size: 15px;
  background: var(--background-button-cold);
}
