*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --button-dark: #13183f;
  --button-dark-hover: rgb(102, 108, 163);
  --radius: 30px;
  --color-text-button: white;
  --font-size-button: 16px;
  --color-title: rgb(19, 24, 63);
  --color-text: rgb(131, 134, 154);
  --font-style: 'Plus Jakarta Sans', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  background-color: rgb(197, 197, 197);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
} /*1024 para pc*/
.logo {
  position: relative;
}
.button {
  position: relative;
  width: 140px;
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--font-style);
  font-size: var(--font-size-button);
  color: var(--color-text-button);
  border-radius: var(--radius);
}
.button-dark {
  background-color: var(--button-dark);
}
@media screen and (min-width: 768px) {
  .button-dark:hover {
    background-color: var(--button-dark-hover);
  }
}
.banner {
  margin: 0 20px;
}
@media screen and (min-width: 768px) {
  .banner {
    width: 400px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .article {
  }
}
.title {
  font-family: var(--font-style);
  color: var(--color-title);
}
.text {
  color: var(--color-text);
  font-family: var(--font-style);
}

.button-warm {
  font-size: 15px;
  margin-top: 40px;
  background: linear-gradient(
    90deg,
    rgba(255, 111, 72, 1) 0%,
    rgba(240, 42, 166, 1) 100%
  );
}
.image {
  width: 330px;
  height: 300px;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .image {
    width: 600px;
    height: 600px;
    position: absolute;
    bottom: 270px;
    left: 420px;
  }
}
